PROJECT_NAME=FUNZA 2027 - CENTRO DE INTELIGENCIA ELECTORAL
DATABASE_URL=postgresql+psycopg2://funza:funza2027@db:5432/funza2027
SECRET_KEY=CAMBIAR_ESTA_CLAVE_SUPER_SEGURA
ACCESS_TOKEN_EXPIRE_MINUTES=720
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
